<div class="login-wrapper">
  <div class="login-image">
    <img src="/loginimage.jpg" alt="Login image">
    <div class="register-user">
      <label>Don't have an account?</label>
      <button (click)="openPopup()">Register</button>
    </div>
  </div>

  <div class="login-container">
    <app-user-register #popup></app-user-register>
    <h2>Sign In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          <small class="error">Username is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="passwd-container" >
          <input
            id="password"
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
          />
          <i class="fa"
             [class.fa-eye] = "!passwordVisible"
             [class.fa-eye-slash]="passwordVisible"
             (click)="paswdVisibility()"
          ></i>
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small class="error">Password is required</small>
        </div>

      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="forgot-password">
      <a (click)="resetPwPopup()">Forgot Password?</a>
  </div>
    <app-reset-password #pwPopup ></app-reset-password>
</div>

