<div class="main-layout">
  <app-slidebar></app-slidebar>
  <div class="content">
    <h4>Edit Profile</h4>
    <div class="settings-wrapper">
      <div class="settings-image">
        <img Src="/profile.jpg" alt="profile image" />
      </div>

      <div class="settings-container">
        <h6>Edit Profile</h6>
        <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email" />
            <div *ngIf="ProfileForm.get('email')?.invalid && ProfileForm.get('email')?.touched"></div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <div class="name">
              <input id="name" type="text" formControlName="name" />
              <div *ngIf="ProfileForm.get('name')?.invalid && ProfileForm.get('name')?.touched"></div>
            </div>
          </div>
          <button type="submit" [disabled]="ProfileForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
