<div class="sidebar">
  <div class="logo">Welcome</div>
  <ul class="menu">
    <li class="menu-item" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span class="menu-text">Dashboard</span>
    </li>
    <li class="menu-item" routerLink="/search-inventory">
      <mat-icon>search</mat-icon>
      <span class="menu-text">Search Inventory</span>
    </li>
    <li class="menu-item">
      <mat-icon>settings</mat-icon>
      <span class="menu-text">Settings</span>
    </li>
    <li class="menu-item">
      <mat-icon>logout</mat-icon>
      <span class="menu-text">Logout</span>
    </li>

  </ul>
</div>
