<div class="popup-overlay" *ngIf="isVisible"></div>
<div class="popup-container" *ngIf="isVisible">
  <div class="popup-content">
    <p>Enter your username</p>
    <form (ngSubmit)="submitForm()" #popupForm="ngForm">
      <div>
        <label class="username" for="username">UserName:</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="actions">
        <button type="submit" [disabled]="!popupForm.valid">Submit</button>
        <button type="button" (click)="closePopup()">Close</button>
      </div>
    </form>
  </div>
</div>
<app-validate-otp #otpPopup></app-validate-otp>

