.main-layout {
  display: flex;
  height: 100vh;
}
app-slidebar {
  flex: 0 0 250px;
  background-color: #333;
  color: white;
  height: 100%;
  overflow-y: auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}
.mat-mdc-card-subtitle{
  color: gray;
  font: bold 1rem "Roboto", sans-serif;
  font-size: 40px;

}
button{
  background-color: #c0dfff;
}

table {
  width: 100%;
}
.mat-mdc-table {
  margin-top: 35px;
}
.table-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto; 
}
